/* STYLESHEET WRITTEN BY KADEN ROSE ALL RIGHTS RESERVED 2025 */

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');


/* ROOT VARIABLES */
:root {
    --background-1: #fff;
    --background-2: #F1F1F1;

    --deep-red: rgb(171, 0, 34);
    --muted-red: #B31942;
    --sky-blue: #0a3161;
    --cool-blue-gray: #0c679c;
    --font-color1: #fff;
    
    --text-content: 'Montserrat', sans-serif;
    --headers-hero-etc: 'Oxanium', serif;
}

/* GLOBAL STYLES */
html {
    font-family: var(--text-content);
    background-color: var(--background-2);
}

h1, h2, h3, h4 {
    font-family: var(--headers-hero-etc);
}

.btn {
    background-color: var(--muted-red);
    color: var(--font-color1);
}

