/* STYLESHEET WRITTEN BY KADEN ROSE ALL RIGHTS RESERVED 2025 */

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');

/* CSS RESET  */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --background-1: #fff;
    --background-2: #F1F1F1;

    --deep-red: rgb(171, 0, 34);
    --muted-red: #B31942;
    --sky-blue: #0a3161;
    --cool-blue-gray: #0c679c;
    --font-color1: #fff;
    
    --text-content: 'Montserrat', sans-serif;
    --headers-hero-etc: 'Oxanium', serif;
}

/* GLOBAL STYLES */
html {
    font-family: var(--text-content);
    background-color: var(--background-2);
}

h1, h2, h3, h4 {
    font-family: var(--headers-hero-etc);
}

body {
    background-color: var(--background-1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

button, input, select {
    box-shadow: -1px 1px 1px;
}

button {
    background-color: var(--cool-blue-gray);
    padding: 0.25rem;
    color: var(--font-color1);
    transition: all 0.5s ease;
}

#nextEventInfo button {
    background-color: var(--sky-blue);
    padding: 1rem 2rem;
    border-radius: 8px;
}

#nextEventInfo button:hover {
    background-color: var(--cool-blue-gray);
    cursor: pointer;
}

button:hover {
    background-color: var(--muted-red);
    cursor: pointer;
}

.btn {
    background-color: var(--cool-blue-gray);
    color: var(--font-color1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--muted-red);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* HEADER STYLES */
header {
    grid-area: header;
}

/* NAV STYLES */
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: var(--sky-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    padding: 1.6rem 1.3rem;
    font-family: var(--headers-hero-etc);
}

nav a {
    color: var(--font-color1);
    text-decoration: none;
    font-size: 1.5rem;
}

nav button {
    font-size: 1.3rem;
}

nav a:visited {
    text-decoration: none;
    color: var(--font-color1);
}

nav li.navItem {
    transition: all 0.5s ease;
}

nav li.navItem:hover {
    background-color: var(--muted-red);
}

nav .thisIsAHeading {
    padding: 1rem;
}

nav .thisIsAHeading a {
    font-size: 3rem;
}

/* class for current page*/
.active {
    background-color: var(--cool-blue-gray);
}

/* MAIN STYLES */

/* INDEX PAGE */

#mainIndex {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "nextEvent donateIndex";
}

#nextEvent {
    grid-area: nextEvent;

    background-image: url("assets/images/AdobeStock_1220609034.jpeg");
    color: var(--font-color1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 1rem;
    position: relative;
}

#nextEventInfo {
    max-width: 600px;
    background-color: var(--sky-blue);
    padding: 2rem;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    font-size: 1.5rem;
}

#nextEventInfo p {
    padding: 0.7rem 0;
}

#nextEventInfo button {
    font-size: 3rem;
}

#donateIndex {
    grid-area: donateIndex;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 4fr;
    text-align: center;
    background-color: var(--sky-blue);
    color: var(--font-color1);
}

#donateIndex form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}

fieldset {
    border: 2px solid var(--font-color1);
    border-radius: 5px;
    padding: 1.5rem;
    background-color: var(--sky-blue);
    text-align: center;
    min-width: 380px;
}

#donateIndex input, #donateIndex select, #mainInvolved input, #mainInvolved select{
    font-size: 1.5rem;
}

#errorMessage1, #errorMessage2, #errorMessage67, #errorMessage61 {
    color: var(--font-color1);
    font-size: 1.5rem;
    background-color: var(--sky-blue);
    border-radius: 8px;
    height: 3rem;
}

/* ABOUT PAGE */

#mainAbout {
    display: flex;
    flex-direction: column;
}

#abtHeader {
    background-color: var(--sky-blue);
}

#aboutMe {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-areas: 
    "aboutMeImage headingAboutMeSection headingAboutMeSection"
    "aboutMeImage firstParaAboutMe secondParaAboutMe"
    "aboutMeImage firstParaAboutMe secondParaAboutMe";
    gap: 1rem;
    padding: 2rem;
    background-color: var(--sky-blue);
    color: var(--font-color1);
}

#aboutMe h2 {
    grid-area: headingAboutMeSection;
    font-size: 3rem;
    font-weight: bold;
}

#aboutMe img {
    grid-area: aboutMeImage;
}

#aboutMarkFirstP {
    grid-area: firstParaAboutMe
}

#aboutMarkSecondP {
    grid-area: secondParaAboutMe;
}

#aboutMarkFirstP, #aboutMarkSecondP {
    font-size: 2rem;
}

#issues {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--sky-blue);
}

#issues h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--font-color1);
}

#issues ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#issues h3 {
    padding-bottom: 1rem;
    text-decoration: underline;
    font-size: 2.6rem;
}

#issues li {
    background-color: var(--cool-blue-gray);
    padding: 2rem 4rem;
    border-radius: 8px;
    font-size: 2rem;
    color: var(--font-color1);
    transition: all 0.3s ease;
    cursor: pointer;
}

#issues li:hover {
    margin: 1rem;
    padding: 1rem 3rem;
}

/* EVENTS PAGE */

#countDown {
    text-align: center;
    padding: 2rem;
    background-color: var(--muted-red);
    color: var(--font-color1);
}

#countDownClock {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

#countDownClock div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--deep-red);
    padding: 2rem;
    border-radius: 8px;
}

#countDownClock p {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;

}

#mainEvents {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--sky-blue);
    color: var(--font-color1);
}

#mainEvents li {
    margin: 1rem;
    padding: 1rem;
    
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#mainEvents li:hover {
    padding: 0.5rem;
    margin: 1.5rem;
}

#mainEvents h2 {
    font-size: 3rem;
}

#mainEvents h3 {
    font-size: 2rem;
    font-weight: bold;
}

#mainEvents p {
    font-size: 1.8rem;
    max-width: 75ch;
}

#mainEvents button {
    font-size: 2rem;
}

#coffeeContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "coffee coffee-button";
}

#coffeeDateEvent {
    grid-area: coffee;
}

#buttonContainer1 {
    grid-area: coffee-button;
}

#debateContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "debate debate-button";
}

#theDebateEvent {
    grid-area: debate;
}

#buttonContainer2 {
    grid-area: debate-button;
}

#townHallContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "town-hall town-hall-button";
}

#townHallEvent {
    grid-area: town-hall;
}

#buttonContainer3 {
    grid-area: town-hall-button;
}

#meetGreetContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "meet-greet meet-greet-button";
}

#meetGreetEvent {
    grid-area: meet-greet;
}

#buttonContainer4 {
    grid-area: meet-greet-button;
}

#rallyContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "rally rally-button";
}

#rallyEvent {
    grid-area: rally;
}

#buttonContainer5 {
    grid-area: rally-button;
}

#driveContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "drive drive-button";
}

#theDriveEvent {
    grid-area: drive;
}

#buttonContainer6 {
    grid-area: drive-button;
}

/* INVOLVED PAGE */

#headerInvolved {
    background-color: var(--sky-blue);
}

#mainInvolved {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--sky-blue);
    color: var(--font-color1);
}

#mainInvolved h2 {
    font-size: 3rem ;
}

#volunteerForm, #donate-involved {
    padding: 2.5rem;
}

#donate-involved {
    border-left: 1px solid var(--background-1);
}

#mainInvolved form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

    font-size: 2rem;
    padding: 1rem;
}

#donate-involved p {
    /* text-align: center; */
    font-size: 1.4rem;
}

#fieldsetInvolved {
    background-color: var(--sky-blue);
    border: 1px solid var(--background-1);
}

#boxOfErrors {
    text-align: center;
    height: 8rem;
}

#boxOfErrors li {
    padding: 0.5rem;
}



/* FOOTER STYLES */
footer {
    grid-area: footer;
    background-color: var(--sky-blue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    color: var(--font-color1);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "newsletter"
    "infoFooter";
    gap: 3.5rem;
    text-align: center;
}

#newsletter {
    grid-area: newsletter;
    border-radius: 8px;
    padding: 1rem;
}

#newsletter form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}

#newsletter h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

#junkYard li {
    padding: 0.5rem;
    /* margin: 2rem 0; */
}

#junkYard {
    padding: 1rem;
    height: 5rem;
}

#infoFooter {
    grid-area: infoFooter;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". basicInfo secondNav legal. "
    ". . socialLinks . .";
    text-align: center;
    gap: 1rem;
}

#basicInfo {
    grid-area: basicInfo;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#basicInfo a {
    color: var(--background-2)
}

#basicInfo a:visited {
    color: var(--background-2)
}

#secondNav {
    grid-area: secondNav;
}

#secondNav a {
    color: var(--font-color1);
}

#secondNav a:visited {
    color: var(--font-color1);
}

#secondNav ul {
    padding: 1rem;
}

#secondNav li, #legal li, #basicInfo li {
    padding: 1%;
}

#legal {
    grid-area: legal;
}

#legal a {
    color: var(--muted-red); 
    text-decoration: none;
    font-weight: bold;
}

#legal a:visited {
    color: var(--muted-red);
}

#socialLinks {
    grid-area: socialLinks;
}

#socialLinks ul {
    display: flex;
    justify-content: space-between;
}

#socialLinks li {
    padding: 2rem;
}

footer input {
    font-size: 1.5rem;
}

/* CLASSES */
.hidden {
    display: none;
}

.hero {
    width: 100%;
    height: 950px;
    object-fit: cover;
    object-position: top;
}


.tilted-input {
    transform: skewX(-20deg);
    font-family: var(--headers-hero-etc);
}

.thisIsAHeading {
    font-family: var(--headers-hero-etc);
}

.noWrap {
    white-space: nowrap;
}

.bolded {
    font-weight: bold;
}

/* JS CLASSES */

.error {
    border: 3px solid red;
}

.newsletterStartOff {
    border: 3px solid var(--background-1);
}

/* MEDIA QUERIES */

/* @media (max-width: 768px) {
    body {
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
        background-color: var(--sky-blue);
    }

    .hero {
        width: auto;
        max-width: 768px;
        height: auto;
    }

    #mainIndex {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nextEvent"
        "donateIndex";
        max-width: 768px;
    }

    #nextEvent {
        max-width: 768px;
    }

    #newsletter {
        max-width: 700px;
    }

    #newsletter form {
        flex-direction: column;
    }

    #infoFooter {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "basicInfo"
        "secondNav"
        "socialLinks"
        "legal";
        max-width: 700px;
    }

} */

