/* STYLESHEET WRITTEN BY KADEN ROSE ALL RIGHTS RESERVED 2025 */

/* IMPORT FONTS */

/* CSS RESET  */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --background-1: #FAFAFA;
    --background-2: #F1F1F1;

    --deep-red: rgb(171, 0, 34);
    --muted-red: #B94747;
    --sky-blue: #A4C8E1;
    --cool-blue-gray: #C8DDE8;
    
    --text-content: 'Barlow', sans-serif;
    --headers-hero-etc: 'Oswald', serif;
}

/* GLOBAL STYLES */
html {
    font-family: var(--text-content);
    background-color: var(--background-2);
}

h1, h2, h3, h4 {
    font-family: var(--headers-hero-etc);
}

body {
    background-color: var(--background-1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

button, input, select {
    box-shadow: -1px 1px 1px;
}

button {
    /* background-color: var(--deep-red); */
}

button:hover {
    background-color: var(--muted-red);
    cursor: pointer;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* HEADER STYLES */
header {
    grid-area: header;
}

/* NAV STYLES */
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: var(--sky-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    padding: 1rem 1.3rem;
    font-family: var(--headers-hero-etc);
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
}

nav button {
    font-size: 1.3rem;
}

nav a:visited {
    text-decoration: none;
    color: #000000;
}

nav li.navItem:hover {
    background-color: var(--cool-blue-gray);
}

nav .thisIsAHeading {
    padding: 1rem;
}

nav .thisIsAHeading a {
    font-size: 2rem;
}

/* class for current page*/
.active {
    background-color: var(--cool-blue-gray);
}

/* MAIN STYLES */

/* INDEX PAGE */

#mainIndex {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "nextEvent donateIndex";
}

#nextEvent {
    grid-area: nextEvent;

    background-color: url("assets/images/AdobeStock_1220609034.jpeg"); /*  TODO IMAGE NOT WORKING AT ALL BRUH  */
    color: var(--background-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 1rem;
    position: relative;
}

#nextEventInfo {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    font-size: 1.5rem;
}

#nextEventInfo p {
    padding: 0.7rem 0;
}

#nextEventInfo button {
    font-size: 3rem;
}

#donateIndex {
    grid-area: donateIndex;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 4fr;
    text-align: center;
}

#donateIndex form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}

fieldset {
    border: 2px solid /*  TODO ADD A BORDER COLOR HERE */;
    border-radius: 5px;
    padding: 1.5rem;
    /* TODO ADD A BACKGROUND COLOR HERE */
    text-align: center;
}

#donateIndex input, #donateIndex select, #mainInvolved input, #mainInvolved select{
    font-size: 1.5rem;
}

/* ABOUT PAGE */

#mainAbout {
    display: flex;
    flex-direction: column;
}

#aboutMe {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-areas: 
    "aboutMeImage headingAboutMeSection"
    "aboutMeImage firstParaAboutMe"
    "aboutMeImage secondParaAboutMe";
    gap: 1rem;
    padding: 2rem;
}

#aboutMe h2 {
    grid-area: headingAboutMeSection;
    font-size: 3rem;
    font-weight: bold;
}

#aboutMe img {
    grid-area: aboutMeImage;
}

#aboutMarkFirstP {
    grid-area: firstParaAboutMe
}

#aboutMarkSecondP {
    grid-area: secondParaAboutMe;
}

#aboutMarkFirstP, #aboutMarkSecondP {
    font-size: 2.5rem;
}

#issues {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

#issues h2 {
    font-size: 3rem;
    font-weight: bold;
}

#issues ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#issues h3 {
    padding-bottom: 1rem;
    text-decoration: underline;
    font-size: 2.6rem;
}

#issues li {
    background-color: var(--background-2);
    padding: 2rem 4rem;
    border-radius: 8px;
    font-size: 2rem;
}

/* EVENTS PAGE */

#mainEvents {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

#mainEvents li {
    margin: 1rem;
    padding: 1rem;
    
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

#mainEvents h2 {
    font-size: 3rem;
}

#mainEvents h3 {
    font-size: 2rem;
    font-weight: bold;
}

#mainEvents p {
    font-size: 1.8rem;
    max-width: 75ch;
}

#mainEvents button {
    font-size: 2rem;
}

#coffeeContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "coffee coffee-button";
}

#coffeeDateEvent {
    grid-area: coffee;
}

#buttonContainer1 {
    grid-area: coffee-button;
}

#debateContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "debate debate-button";
}

#theDebateEvent {
    grid-area: debate;
}

#buttonContainer2 {
    grid-area: debate-button;
}

#townHallContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "town-hall town-hall-button";
}

#townHallEvent {
    grid-area: town-hall;
}

#buttonContainer3 {
    grid-area: town-hall-button;
}

#meetGreetContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "meet-greet meet-greet-button";
}

#meetGreetEvent {
    grid-area: meet-greet;
}

#buttonContainer4 {
    grid-area: meet-greet-button;
}

#rallyContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "rally rally-button";
}

#rallyEvent {
    grid-area: rally;
}

#buttonContainer5 {
    grid-area: rally-button;
}

#driveContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    grid-template-areas: "drive drive-button";
}

#theDriveEvent {
    grid-area: drive;
}

#buttonContainer6 {
    grid-area: drive-button;
}

/* INVOLVED PAGE */

#mainInvolved {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainInvolved h2 {
    font-size: 3rem ;
}

#volunteerForm, #donate-involved {
    border: 1px solid black;
    padding: 1rem;
}

#mainInvolved form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

    font-size: 2rem;
    padding: 1rem;
}

#donate-involved p {
    /* text-align: center; */
    font-size: 1.4rem;
}

/* FOOTER STYLES */
footer {
    grid-area: footer;
    background-color: var(--sky-blue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "newsletter"
    "infoFooter";
    gap: 3.5rem;
    text-align: center;
}

#newsletter {
    grid-area: newsletter;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
}

#newsletter form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}

#newsletter h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

#infoFooter {
    grid-area: infoFooter;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". basicInfo secondNav legal. "
    ". . socialLinks . .";
    text-align: center;
    gap: 1rem;
}

#basicInfo {
    grid-area: basicInfo;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#secondNav {
    grid-area: secondNav;
}

#secondNav a {
    color: black;
}

#secondNav a:visited {
    color: black;
}

#secondNav ul {
    padding: 1rem;
}

#secondNav li, #legal li, #basicInfo li {
    padding: 1%;
}

#legal {
    grid-area: legal;
}

#legal a {
    color: black; /* TODO UPDATE COLOR*/
    text-decoration: none;
    font-weight: bold;
}

#legal a:visited {
    color: black; /* TODO UPDATE COLOR*/
}

#socialLinks {
    grid-area: socialLinks;
}

#socialLinks ul {
    display: flex;
    justify-content: space-between;
}

#socialLinks li {
    padding: 2rem;
}

footer input {
    font-size: 1.5rem;
}

/* CLASSES */
.hidden {
    display: none;
}

.hero {
    width: 100%;
    height: auto;
}


.tilted-input {
    transform: skewX(-20deg);
    font-family: var(--headers-hero-etc);
}

.thisIsAHeading {
    font-family: var(--headers-hero-etc);
}

.noWrap {
    white-space: nowrap;
}

.bolded {
    font-weight: bold;
}

/* MEDIA QUERIES */
